@font-face {
    font-family: essays1743;
    src: url(../fonts/Essays1743.ttf) format('truetype');
}

body {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 150%;
}

img {
    width: 100%;
}

a {
    color: #444;
}

h1 {
    margin-bottom: 50px;
    font-family: essays1743;
    font-size: 35pt;
    text-align: center;
    line-height: 90%;
}

h2 {
    font-family: essays1743;
    line-height: 90%;
}

pre, code { color: #d3d7cf; background-color: #2e3436; }
code > span.co { color: #888a85; } /* Comment */
code > span.kw { color: #eeeeec; } /* Keyword */
code > span.dv { color: #ce5c00; } /* DecVal */
code > span.st { color: #edd400; } /* String */

code, pre {
    border-radius: 2px;
}

code {
    padding: 0.2em;
}

pre {
    overflow-x: auto;
    padding: 1em;
}

figure {
    margin: 0;
}

.author {
    display: none;
}
.date {
    display: none;
}
